{% extends "index.html" %}
{% load static %}
{% block title %} DashBoard {% endblock title %} 
{% block base_css %}
{{block.super}}
{% endblock base_css %}
{% block breadcrumbbar %}
<div class="breadcrumbbar bg-transparent ">

</div>
{% endblock breadcrumbbar %}


<!-- End Contentbar -->
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
        <h6>
        <a href="#">base setup</a>
        </h6>        
        
       
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}